# TPM services
CONFIG_TCG_TPM=y
CONFIG_HW_RANDOM_TPM=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TCG_TIS=y

#
# Security options
#
CONFIG_TRUSTED_KEYS=y
CONFIG_TRUSTED_KEYS_TPM=y

#
# SPI interface
#
CONFIG_SPI=y
CONFIG_SPI_INTEL_PCI=y
CONFIG_SPI_INTEL_PLATFORM=y

#
# Virtual Dynamic Shared Object (VDSO)
#
CONFIG_HAVE_GENERIC_VDSO=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_GENERIC_VDSO_32=y
CONFIG_COMPAT_VDSO=y
CONFIG_GENERIC_VDSO_TIME_NS=y
